[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
dj_database_url = "*"
django = "*"
djangorestframework = "*"
psycopg2 = "*"
slackclient = "*"
slackeventsapi = "*"
uwsgi = "*"

[requires]
python_version = "3.6"
