[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==18.1.0"
dj_database_url = "==0.5.0"
django = "==2.2.10"
djangorestframework = "==3.8.2"
rollbar = "==0.14.2"
slackclient = "==1.2.1"
slackeventsapi = "==1.1.0"
uwsgi = "==2.0.17.1"
zappa = "==0.48.2"

[dev-packages]
freezegun = "==0.3.10"
pytest = "==3.7.1"
pytest-django = "==3.3.3"

[requires]
python_version = "3.6"
