[Unit]
Description=gunicorn pizzabot daemon
After=network.target syslog.target

[Service]
User=pizzabot
Group=pizzabot
RuntimeDirectory=gunicorn
WorkingDirectory=/home/pizzabot/current
ExecStart=/home/pizzabot/current/pizzabot.sh
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
