[Unit]
Description=uWSGI pizzabot service
After=syslog.target

[Service]
User=pizzabot
Group=pizzabot
RuntimeDirectory=/home/pizzabot/current
PIDFile=/home/pizzabot/pizza.pid
ExecStart=/home/pizzabot/current/uwsgi.sh --ini /home/pizzabot/current/uwsgi.ini
ExecReload=/home/pizzabot/current/uwsgi.sh --reload /home/pizzabot/pizza.pid
ExecStop=/home/pizzabot/current/uwsgi.sh --stop /home/pizzabot/pizza.pid
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
